<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="onClick()">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="accueil" class="accTab">
        <ion-icon name="planet-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="parametre">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
