<ion-header>
  
</ion-header>
<ion-content>
    <ion-slides pager="true">

      

      <ion-slide class="ion-padding splash_logo">

       

        <div class="rondeLeft" ></div>
        <div class="rondeRight"></div>
        <div class="rondeCenter"></div>
        <p>MonpaYs</p>
       </ion-slide>
       
       
      <!-- <ion-slide class="ion-padding">
       <img src="../../assets/images/Feed (3).gif" alt="">

       <div class="slider_text">
        <h2>Resté Zen</h2>
        <div class="ombre_h2"></div>
        <div class="ombre_text ombre_text_slide1"></div>
        <p>Apprenez a votre rhyme sans jamais vous stréssé ! <br>
          Oui, Sourriez a la vie !
       </p>
      </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img src="../../assets/images/Students (3).gif" alt="">

        <div class="slider_text">
          <h2>Communauté</h2>
          <div class="ombre_h2"></div>
          <div class="ombre_text ombre_text_slide2"></div>
          <p class="p_text2">Une forte communauté vous atend. Poser des questions! <br>
           Apprendre une nouvelle langue est une chose mais avoir des personnes avec qui parler cette langue c'est encore mieux.
        </p>
        </div>
 
        
       </ion-slide>

       <ion-slide class="ion-padding">
        <img src="../../assets/images/Young and happy.gif" alt="">
 
        <div class="slider_text">
          <h2>Alors <br> Qu'attendez-vous ?</h2>
          <div class="ombre_h2"></div>
          <div class="ombre_text ombre_text_slide3"></div>
         <p>Rejoignez nous dès maintenant et rattrapez le temps. <br>
          Ensemble, redorons le blason nos cultures.
        </p>
        </div>
 
        <ion-button (click)="getStarted()" class="btn_getStart" fill="clear">Commencez <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
       </ion-slide>       -->
       
    </ion-slides>
</ion-content>
